body{
    margin: 0;
    font-family: monospace;
    background-color: rgb(9, 9, 9);
}

h1{
    text-align: center;
    margin: 30px;
}


.lista-estados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

